

:host {
  display: block;
  height: 100vh;
  overflow: hidden;
  background: var(--bg-color)
  //background: hsl(180, 12%, 6%);
}

.container {
  max-width: 750px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: var(--body-color);

  .main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    overflow: hidden;

    .content {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden; // Приховати горизонтальний скрол

      // Приховати scrollbar
      &::-webkit-scrollbar {
        display: none;
      }

      scrollbar-width: none; // Firefox
      -ms-overflow-style: none; // IE/Edge
    }
  }
}
