<div class="exercise-card" (click)="onSelect()">
  <div class="exercise-image">
    <img
      [src]="exercise().staticImageUrl || ('assets/img/' + exercise().bodyPart + '.png')"
      [alt]="exercise().name">
  </div>
  <div class="exercise-info">
    <h3>{{ exercise().name }}</h3>
  </div>
  <button class="checkbox" [class.checked]="isSelected()" (click)="onCheckboxClick($event)">
    <i class="material-icons">{{ isSelected() ? 'check_box' : 'check_box_outline_blank' }}</i>
  </button>
</div>
