
<div class="training-item">
  <div [style.--progress-color]="getProgressColor(progress)"
    class="training-item__progress" >
    <mat-progress-spinner

      [mode]="'determinate'"
      [value]="progress"
      [diameter]="70"
      [strokeWidth]="4"
      class="custom-spinner"
    ></mat-progress-spinner>
    <span  class="progress-text">{{ progress }}%</span>
  </div>

  <div class="training-item__content">
    <p class="training-item__day">{{ day }} workout day</p>
    <h3 class="training-item__title">{{ title }}</h3>
  </div>

  @if (hasIndicator) {
    <div class="training-item__indicator">
      <div class="indicator-dot"></div>
    </div>
  }

</div>
