<div class="header">
  <div class="header1">
    <div class="header__box">
      <mat-icon class="icon">schedule</mat-icon>
    </div>
    <div class="header__box">
      <h2>Workouts</h2>
    </div>
    <div class="header__box header__box2">
      <div class="box-icon">
        <mat-icon class="icon">edit</mat-icon>
      </div>
      <div class="box-icon">
        <mat-icon class="icon">menu</mat-icon>
      </div>


    </div>
  </div>

  <div class="header2">
    <button routerLink="main" matButton="outlined">Dashboard</button>
    <button routerLink="workouts" matButton="outlined">Workouts</button>
    <button routerLink="exercises" matButton="outlined">Exercises</button>

  </div>
</div>
